/* Contact summary */
.contact-summary {
  padding-bottom: 1em;
}
.contact-summary .contact-id {
  float: right;
}
.contact-summary .contacts-header-image {
  float: left;
  margin-right: 10px;
}

/* Summary tab */
.dash-content > * {
  width: 48%;
  float: left;
}
.dash-left {
  margin-right: 4%;
}
