/**
 * @file
 * Styling for the user module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-page-manager-page-view-contacts-dashboard:before {
  background-image: url(../images/contacts.png);
}
.toolbar-bar .toolbar-icon-page-manager-page-view-contacts-dashboard:active:before,
.toolbar-bar .toolbar-icon-page-manager-page-view-contacts-dashboard.active:before {
  background-image: url(../images/contacts.png);
}

.toolbar-bar .toolbar-icon-edit:before {
  background-image: url(../images/pencil.svg);
}
.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: url(../images/pencil-active.svg);
}
