/**
 * @file
 * Styling for contacts module dashboard management.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .contacts-toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .contacts-toolbar-tab {
  float: left;
}
.toolbar .toolbar-bar .contacts-toolbar-tab .toolbar-item {
  margin: 0;
}
