<aside style="position:relative;overflow: visible" class="layout-sidebar-second toggled" role="complementary">
  <a data-ajax-url="/admin/contacts-ajax/manage-mode/{{ user }}/{{ subpage }}" data-ajax-progress="fullscreen" href="#" title="Manage" class="use-ajax dnd-manage trigger-manage btn btn-lg btn-primary" data-target=".layout-sidebar-second"><img width="20" src="https://cdn3.iconfinder.com/data/icons/token/128/Gear.png"></a>
  <div{{ attributes }}>
    {{ content }}
  </div>
</aside>
