<aside style="position:relative;overflow: visible" class="layout-sidebar-second toggled" role="complementary">
  <button title="Manage" class="dnd-manage trigger-manage btn btn-lg btn-primary" data-target=".layout-sidebar-second"><img width="20" src="https://cdn3.iconfinder.com/data/icons/token/128/Gear.png"></button>
  <div{{ attributes }}>
    {{ content }}
  </div>
</aside>
